html {
	background-image: url("images/background_image.jpg");
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;              /* optional, center the image */

	height: 100%;
	padding: 20px;
	overflow: hidden;
}

body {
	font-family: 'Open Sans', sans-serif;
}

.block-left {
    float: left;
    padding-right: 0px;
    width: 20%;
}

.block-right
{
	float: right;
	padding-right: 20px;
	width: 70%;
	padding-top: 10%;
}

.bio {
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
}

/*html {
  background: linear-gradient(to bottom, #ffffff 0%, #00802b 100%);
}*/

.name {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 2px;
}

.left {
	text-align: left;
	padding-bottom: 50px;
}

.icon-location {
	width: 30px;
	vertical-align: middle;
	padding-right: 10px;
}

.icon {
	padding-bottom: 20px;
}

.icon-pic {
	width: 50px;
	padding-right: 50px;
	vertical-align: middle;
}

.icon-text {
	width: 50px;
	vertical-align: middle;
	font-weight: bold;
	font-size: 24px;
}

.profile-picture {
  border-radius: 50%;
}